flows_raspberrypi.json
[
    {
        "id": "e3d70570.272bb8",
        "type": "tab",
        "label": "take-picture-on-request",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aec357ee.e91c38",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3b40396f.189596",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "394cfd25.6e7772",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3b40396f.189596",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fb7939ce.3983b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "394cfd25.6e7772",
        "order": 1,
        "width": "0",
        "height": "0"
    },
    {
        "id": "c7a43587.2944e8",
        "type": "ui_group",
        "name": "Default",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "810c43dd.100e98",
        "type": "ui_group",
        "name": "MyGarage",
        "tab": "6ab2937e.b0cfb4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ab2937e.b0cfb4",
        "type": "ui_tab",
        "name": "MyGarage",
        "icon": "drive_eta",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c39cfd51.14f1c",
        "type": "ui_group",
        "name": "camFoscam",
        "tab": "250de740.57ee78",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "250de740.57ee78",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bd2061a2.a8df3",
        "type": "http in",
        "z": "e3d70570.272bb8",
        "name": "",
        "url": "/test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 202,
        "y": 140,
        "wires": [
            [
                "cd49f5f0.994458",
                "9344765c.b326b8"
            ]
        ]
    },
    {
        "id": "885ac9e6.3d54f8",
        "type": "file in",
        "z": "e3d70570.272bb8",
        "name": "",
        "filename": "/home/pi/Pictures/photo1.JPEG",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "c6559b06.c6b5b8",
                "eee0da09.f9e788"
            ]
        ]
    },
    {
        "id": "cd49f5f0.994458",
        "type": "camerapi-takephoto",
        "z": "e3d70570.272bb8",
        "filemode": "1",
        "filename": "photo1.JPEG",
        "filedefpath": "0",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "jpeg",
        "resolution": "10",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "885ac9e6.3d54f8",
                "e104b1d2.1a469"
            ]
        ]
    },
    {
        "id": "c6559b06.c6b5b8",
        "type": "change",
        "z": "e3d70570.272bb8",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 140,
        "wires": [
            [
                "7604c8fa.bb4298",
                "45d309db.90a1e8"
            ]
        ]
    },
    {
        "id": "7604c8fa.bb4298",
        "type": "http response",
        "z": "e3d70570.272bb8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 140,
        "wires": []
    },
    {
        "id": "45d309db.90a1e8",
        "type": "debug",
        "z": "e3d70570.272bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 260,
        "wires": []
    },
    {
        "id": "eee0da09.f9e788",
        "type": "debug",
        "z": "e3d70570.272bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "e104b1d2.1a469",
        "type": "debug",
        "z": "e3d70570.272bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "9344765c.b326b8",
        "type": "debug",
        "z": "e3d70570.272bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    }
]