rbpi_nodered_take_picture.json
[{"id":"e3d70570.272bb8","type":"tab","label":"take-picture-on-request","disabled":false,"info":""},{"id":"bd2061a2.a8df3","type":"http in","z":"e3d70570.272bb8","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["cd49f5f0.994458","9344765c.b326b8"]]},{"id":"885ac9e6.3d54f8","type":"file in","z":"e3d70570.272bb8","name":"","filename":"/home/pi/Pictures/photo1.JPEG","format":"","chunk":false,"sendError":false,"encoding":"none","x":570,"y":140,"wires":[["eee0da09.f9e788","dacf3f56.d600d"]]},{"id":"cd49f5f0.994458","type":"camerapi-takephoto","z":"e3d70570.272bb8","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":300,"y":140,"wires":[["885ac9e6.3d54f8","e104b1d2.1a469"]]},{"id":"c6559b06.c6b5b8","type":"change","z":"e3d70570.272bb8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/plain","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":140,"wires":[["7604c8fa.bb4298","45d309db.90a1e8"]]},{"id":"7604c8fa.bb4298","type":"http response","z":"e3d70570.272bb8","name":"","statusCode":"","headers":{},"x":1270,"y":140,"wires":[]},{"id":"45d309db.90a1e8","type":"debug","z":"e3d70570.272bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":260,"wires":[]},{"id":"eee0da09.f9e788","type":"debug","z":"e3d70570.272bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"e104b1d2.1a469","type":"debug","z":"e3d70570.272bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"9344765c.b326b8","type":"debug","z":"e3d70570.272bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":260,"wires":[]},{"id":"dacf3f56.d600d","type":"function","z":"e3d70570.272bb8","name":"","func":"\nlet imageBase64 = msg.payload.toString('base64');\n\nmsg.payload = imageBase64;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":140,"wires":[["c6559b06.c6b5b8"]]}]