rbpi_nodered_get_data.json
[{"id":"b0ea750d.4362c8","type":"tab","label":"get-data-on-request","disabled":false,"info":""},{"id":"c32c8a6b.4a99e8","type":"inject","z":"b0ea750d.4362c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":180,"wires":[["b419c942.bb9078"]]},{"id":"b419c942.bb9078","type":"http request","z":"b0ea750d.4362c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/test1","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["79fa901e.25d67"]]},{"id":"79fa901e.25d67","type":"debug","z":"b0ea750d.4362c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]}]